<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
<style>
body{
    background:linear-gradient()
}
@font-face {
    font-family: 'NomsodDemo';
    src: url(NomsodDemo.ttf);
}
</style>
    <link rel="icon" href="1000003724 .jpg"/>
    <link rel="stylesheet" href="style2.css"/>
    </head>
    <body>
           <center>  
        <h1><Marquee direction="right" scrollamount="20">ประวัติส่วนตัว</Marquee></h1>
        <center><img src="1000003724 .jpg" alt="1000003724 .jpg" width="100"</center>
    <p>Name:Nakorn Chobkij</p>
    <p>Age:15</p>
    <p>Address:เลขที่6 ซอย12กาญจนวนิช(ซอยบังดล)ตำบลคอหงส์ อำเอหาดใหญ่ จังหวัดสงขลา</p>
    <p>สาขาวิชา:เทคโนโลยรสารสนเทศ</p>    
    <h2>ความสามารถพิเศษ:เล่นกีฬา</h2>
    <p>อาหารที่ชอบ:ข้าวผัด</p>
    <h3>ติดต่อ</h3>
    <p>Email:68219010003@htc.ac.th</p>
    <p>Telephonenumber:061-174-5439</p>
</center>
</body>
</html>