<html>
    <body style="background-color: darkviolet;">
        <Marquee direction="left" scrollamount="100">
            <table style="color: rgb(255, 255, 255);" border="2" cellpadding="50" cellspacing="60">
                <tr><td>1</td><td>2</td></tr>
                <tr><td>3</td><td>4</td></tr>
            </table>
            <table style="color: rgb(255, 255, 255);" border="1"cellpadding="30" cellspacing="40">
                <tr align="center">
                <td colspan="2">A</td></tr>
                <tr><td>B</td><td>C</td></tr>
            </table>
            <table style="color: rgb(255, 255, 255);" border="3" cellpadding="10" cellspacing="20">
                <tr><td rowspan="2">A</td>
                <td>B</td></tr>
                <tr><td>C</td></tr>
            </table>
            <Marquee direction="right" scrollamount="30">
                <button>
                <a href="frame.html">ไปหน้าถัดไปของถัดไปของถัดไปของถัดไป</a>
            </button>
        </Marquee>
        </Marquee>
    
    </body>
</html>